.App {
  text-align: center;
  border: 1px solid;
  width: 80%;
  margin: auto;
}


#outer-div {
  width: 100%;
  text-align: center;
  
  /* background-color: #0666a3 */
}
#inner-div {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  border: 1px solid;
  margin-bottom: 20px;
  width: 50%;
  /* background-color: #8ebf4
  2 */
}

#inner-div p{
  font-size: 24px;
}

#inner-div button{
  margin-bottom: 10px;
}

.transactionHistory 
{
  font-size: 20px;
  text-align: initial;
  width: 50%;
  height: 50%;
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
  border: 1px solid;
  margin-bottom: 20px;
}

.transactionHistory b{
  font-size: 24px;
}

.errorMsg{
  color: red;
}